# Ignore everything
/*

# But not these files...
!.gitignore
!map.json
!visitors.csv
!coordinate.txt
# etc...

# ...even if they are in subdirectories
!/logs/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*