{%extends "museum/base.html"%}
{%load static%}

{% block content %}
<div class="row" style="margin-top:10px;margin-bottom:10px;">

    <div class="col-md-12" style="align:">
        <div class="content-section">
            <div id="timeline">
                <ul style="min-height:50px;" id="dates">
                    {%for loc in timeline%}
                    <li><a href="{{loc.position}}">{{loc.start}}</a></li>
                    {%endfor%}
                </ul>
                <ul id="issues">
                    {%for loc in timeline%}
                    <li id="{{loc.position}}">
                        <h1>{{loc.position}}</h1>
                        <p>
                            Time of arrival: {{loc.start}}<br>
                            Leaving time: {{loc.end}}<br>
                            Permanence duration: {{loc.duration}}<br>
                        </p>
                    </li>
                    {%endfor%}
                </ul>
                <div id="grad_left"></div>
                <div id="grad_right"></div>
                <a href="#" id="next"></a>
                <a href="#" id="prev"></a>
            </div>
        </div>
    </div>
</div>
<div id="mappaDiv" class="row" style="margin-top:10px;">
    <div id="mappa" class="col-md-12"
         style="background-image:url('{% static 'museum/image.png' %}');background-size: cover;background-repeat: no-repeat;height:860px;width:1658px; margin-top:25px;">
        {%for point in timeline%}
        <i id="{{point.id}}" class='fas fa-map-marker-alt'
           style="position:absolute;margin-top:{{point.y}}px;margin-left:{{point.x}}px;font-size:36px;color:red; list-style:none;"></i>
        {%endfor%}
    </div>
</div>
<div class="row" id="summary">
    <div class="col-md-12" style="min-height:200px;margin-top: 50px;">
        <div class="content-section" id="home">
            <h2 style="margin-left:10px;margin-bottom: 1.5rem!important;border-bottom:1px solid #dee2e6!important;">
                SUMMARY OF THE VISIT</h2>
            {% for data in summary %}
            <p style="margin-left:50px; margin-top:50px;">
                Visitor: {{data.visitor}} <br>
                Group: {{data.group}} <br>
                Visit started at {{data.start}} and ended at {{data.end}} with a total duration of {{data.duration}}<br><br>
                Number of presentations visited: {{data.num_pres}}<br>
                Number of locations visited: {{data.num_locs}}<br>
                Locations visited with the presentations watched:<br></p>
            <ul style="margin-left:80px;">
                {% for pre in data.presentations %}
                <li>{{pre}}</li>
                {% endfor %}
            </ul>
            <p style="margin-left:50px; margin-top:50px;">
                They most likely{{data.liked}}the visit because they<br></p>
            <ul style="margin-left:80px;">
                <li>{{data.str_pres}}</li>
                <li>{{data.str_avg}}</li>
                <li>{{data.str_interr}}</li>
            </ul>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}