{% extends "museum/base.html" %}

{% block content %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var backgroundColors = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(66, 202, 60, 0.2)',
            'rgba(83, 81, 84, 0.2)',
            'rgba(146, 63, 40, 0.2)',
            'rgba(132, 186, 91, 0.2)',
        ];

        var borderColors = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(66, 202, 60, 1)',
            'rgba(83, 81, 84, 1)',
            'rgba(146, 63, 40, 1)',
            'rgba(132, 186, 91, 1)',
        ];
    </script>
</head>

<div class="col-md-10" style="margin:50px;">
    <!-- AVERAGE NUMBER OF PEOPLE PER HOUR GRAPH -->
    <div class="container">
        <h1>Average number of people per hour</h1>
        <br>
        <canvas id="averageNumberOfPeoplePerHour" width="500" height="300"></canvas>
        <script>
            function replaceCommasWithMinus(item)
            {
                result = new Array();

                for(var i = 0; i < item.length; i++)
                {
                    result[i] = item[i].replace(', ', '-');
                }

                return result;
            }

            // a bit of formattation for labels
            var timeWindowsLabels = "{{visitorsPermanencyTimeWindowsLabels}}";
            timeWindowsLabels = timeWindowsLabels.substring(2, timeWindowsLabels.length-2);
            timeWindowsLabels = timeWindowsLabels.split("), (")
            timeWindowsLabels = replaceCommasWithMinus(timeWindowsLabels)

            var timeWindowsData = "{{visitorsPermanencyTimeWindowsValues}}";
            timeWindowsData = timeWindowsData.substring(1, timeWindowsData.length-1);
            timeWindowsData = timeWindowsData.split(", ")

            var ctx = document.getElementById('averageNumberOfPeoplePerHour').getContext('2d');

            var averageNumberOfPeoplePerHourChartConfig = {
                type: 'bar',
                data: {
                    labels: timeWindowsLabels,
                    datasets: [{
                        label: 'average # of people who started a visit in that time window',
                        data: timeWindowsData,
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'average # of people who started a visit in that time window distribution',
                        data: timeWindowsData,
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 1,
                        type: 'line',
                        hidden: true
                    }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            var averageNumberOfPeoplePerHour = new Chart(ctx, averageNumberOfPeoplePerHourChartConfig);
        </script>
    </div>

    <!-- AVERAGE NUMBER OF PEOPLE PER ROOM PER HOUR GRAPH -->

    <div class="container">
        <h1>Average number of people per room per hour</h1>
        <br>
        <canvas id="averageNumberOfPeoplePerHourPerRoom" width="500" height="300"></canvas>
        
        <script>
            var ctx = document.getElementById('averageNumberOfPeoplePerHourPerRoom').getContext('2d');
            var averageNumberOfPeoplePerHourPerRoomData = JSON.parse("{{averageNumberOfPeoplePerHourPerRoomData}}".replace(/&quot;/g,'"'));
            
            var hourLabels = new Set();
            var roomDatasets = [];

            for (key in averageNumberOfPeoplePerHourPerRoomData)
            {
                roomNumber = key
                labels = averageNumberOfPeoplePerHourPerRoomData[key]["labels"]
                values = averageNumberOfPeoplePerHourPerRoomData[key]["values"]
                backgroundColor = backgroundColors[key-1]
                borderColor = borderColors[key-1]
                for (key in labels)
                {
                    hourLabels.add(labels[key])
                }

                dataset = {
                    label: 'Room ' + roomNumber,
                    data: values,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 1
                }

                roomDatasets.push(dataset)
            }

            hourLabels = Array.from(hourLabels)

            var averageNumberOfPeoplePerHourPerRoomChartConfig = {
                type: 'bar',
                data: {
                    labels: hourLabels,
                    datasets: roomDatasets
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            var averageNumberOfPeoplePerHour = new Chart(ctx, averageNumberOfPeoplePerHourPerRoomChartConfig);

        </script>
        
    </div>

    <div class="container">
        <h1>Attractive power (how many times a visitor was on that point of interest)</h1>
        <br>
        <h5>Ten most attractive</h5>
        <br>
        <canvas id="attractivePower" width="500" height="300"></canvas>

        <script>
            var pointOfInterestAttractivePowerData = JSON.parse("{{pointOfInterestAttractivePowerData}}".replace(/&quot;/g,'"'));

            var pointOfInterestLabels = new Set()
            var pointOfInterestDataset = []
            var i = 0;

            for (key in pointOfInterestAttractivePowerData)
            {
                if(i > 9) // i want to print first ten most attractive point of interest
                {
                    break;
                }

                pointOfInterestName = key
                value = pointOfInterestAttractivePowerData[key]

                pointOfInterestLabels.add(pointOfInterestName)
                pointOfInterestDataset.push(value)
                i+=1
            }

            pointOfInterestLabels = Array.from(pointOfInterestLabels)

            var attractivePowerConfig = {
                type: 'doughnut',
                data: {
                    labels: pointOfInterestLabels,     // point of interest names
                    datasets: [{ 
                        data: pointOfInterestDataset,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors
                        }]    // visit count
                },
                options: {}
            };

            var ctx = document.getElementById('attractivePower').getContext('2d');
            var attractivePower = new Chart(ctx, attractivePowerConfig);
        </script>
        
    </div>

    <div class="container">
        <h1>Holding power in seconds(how long a visitor stays on a point of interest)</h1>
        <br>
        <h5>Ten most holding</h5>
        <canvas id="holdingPower" width="500" height="300"></canvas>

        <script>
            var pointOfInterestHoldingPowerData = JSON.parse("{{pointOfInterestHoldingPowerData}}".replace(/&quot;/g,'"'));

            var holdingPowerLabels = new Set()
            var holdingPowerDataset = []
            var i = 0;

            for (key in pointOfInterestHoldingPowerData)
            {
                if(i > 9) // i want to print first ten most attractive point of interest
                {
                    break;
                }

                pointOfInterestName = key
                value = pointOfInterestHoldingPowerData[key]

                holdingPowerLabels.add(pointOfInterestName)
                holdingPowerDataset.push(value)
                i+=1
            }

            holdingPowerLabels = Array.from(holdingPowerLabels)

            var holdingPowerConfig = {
                type: 'doughnut',
                data: {
                    labels: holdingPowerLabels,
                    datasets: [{ 
                        data: holdingPowerDataset,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors
                        }]
                },
                options: {}
            };

            var ctx = document.getElementById('holdingPower').getContext('2d');
            var holdingPower = new Chart(ctx, holdingPowerConfig);
        </script>
    </div>

</div>
{% endblock content %}